*{
    margin: opx;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem ;
    height: fit-content;
    padding: 0 4em;
}
.nav{
    background-color:#00BCD4 ;
    height: 80px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

ul{
    list-style-type: none;
}
.items{
    display: flex;
    flex-direction:row-reverse;
    background-color:#00BCD4 ;
}

li {
   font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 20px;
    
}

.logo {
    text-align: center;
    transform: translateX(40px);
}
.logotext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 13px;
}
.primeraSeccion{
    padding-top: 3em;
    display: flex;
    justify-content:  space-around;
    padding-bottom: 40px;
}
.titular{
width: 50%;
display: flex;
flex-direction: column;

}
.titulo{
font-size: 6em;   
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: bold;
 color:#010101;
 padding: 20px;
}
.subtituloUno{
 font-size: 2em;   
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: lighter;
 color:#00BCD4;
 
}
.textoPrimeraSeccion{
    padding-top: 1em;
    font-size: 20px;
    width: 30rem;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.imagenLaLlamada{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    border: solid #00BCD4 20px;
    
    
}
.imagen{
    height: 100%;   
    transform: translateX(-140px);
}

.segundaSeccion{
    display: flex;
    justify-content: space-around;
    font-size: 40px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.trailer{
    background-color:#EFEFEF;
    height: auto;
    width: 25%;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    border-right:dashed 1px  #00BCD4  ;
}

.sinopsis{
    background-color:#EFEFEF;
    height: auto;
    width: 25%;
    padding: 20px;
    border-right:dashed 1px  #00BCD4  ;
}

.protagonistas{
    background-color:#EFEFEF;
    height: auto;
    width: 25%;
    padding: 20px;
    border-right:dashed 1px  #00BCD4  ;
}

.entradas{
    background-color:#EFEFEF;
    height: auto;
    width: 25%;
    background-color:#00BCD4;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
}

.link{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.linkBlanco{
    color: #ffffff;
}

a{
    color: #00BCD4;
}

.terceraSeccion{
    display: flex;
    gap: 4em;
    padding-top: 6em;
    border-bottom:#cdcccc dotted;
    padding-bottom: 6em;
}

.izquierdaTerceraSeccion{
    display: flex;
    flex-direction: column;
    background-color: #00BCD4;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    color: white;
    padding: 2em;
    gap: 20px;
}

.duracion{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.edad{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.palomitas{
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color:#FEC200;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.merchan{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.derechaTerceraSeccion{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2em;
    padding-left: 3em;
}
.tituloTerceraSeccion{
    color: #010101;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.historia{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    font-size: 16px;
    background-color: red;
    width: 12em;
    height: 3em;
    border-radius: 10px;
    border-color: red;
    color: white;
}

.cuartaSeccion{
    display: flex;
    flex-direction: column;
}

.contenidoCuartaSeccion{
    display: flex;
    
    
}

.tituloCuartaSeccion{
    color: #010101;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.directores{
    display: flex;
    padding: 2em;
    gap: 2em;
    align-items: center;
    width: 33%;
   
}
.imagenLosJavis{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: solid #00BCD4 10px;
    
}
.imgJavis{
    height: 100%;
    transform: translateX(-50px);     
    
}
.textoDirectores{
    width:30%;
}

.protagonista{
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    width: 33%;
    
}
.imagenMacarena{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid #00BCD4 10px;
    background-image: url("macarenaGarcia.jpg");
    background-size: cover;
}

.textoMacarena{
    width:30%;
}

.segundaProtagonista{
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    width: 33%;
    
}

.imagenAnaCastillo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid #00BCD4 10px;
    background-image: url(anacastillo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.textoAnaCastillo{
    width:30%;
}

.quintaSeccion{
    background-color:#00BCD4;
    border-radius: 10px;
   
}
.imagenBackground{
    display: flex;
    justify-content: space-evenly; 
}
.circuloUno{
    background-image: url(camiseta-campamento-lallamada.jpg);
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* border: 10px solid #00BCD4; */
    transform: translate(80px,120px);
    
}

.circuloDos{
    background-image: url(palomitas.jpg);
    background-size: contain;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    transform: translate(-40px,30px);
}

.circuloTres{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transform: translate(-100px,50px);
}

.circuloCuatro{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#FFFFFF;
    transform: translate(100px,300px);
    
}
.circuloCinco{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#FFFFFF;
    transform: translate(30px,300px);    
}



.textoQuintaSeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5em;
    gap:3em;
}

.tituloQuintaSeccion{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
}

.tetoxQuintaSeccion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

.camara{
    width: 180px;
    height: 340px;
    transform: translate(0px, 90px);
}

.sextaSeccion{
    border-top:#cdcccc dotted;
    display: flex;
    padding-top: 7em;
    

}
.premiosEspeciales{
    display: flex;
    gap: 2em;
    width: 100%;
    justify-content: space-between;
   
}
.tituloPremios{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
}
.primerPremio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    
    
}

.fotoPrimerPremio{
    background-image: url(belenCuesta.webp);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: #00BCD4 10px solid;
}

.tituloPimerPremio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #00BCD4;
    
}

.segundoPremio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    
}

.fotoSegundoPremio{
    background-image: url(anaCastillo2.jpg);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: #00BCD4 10px solid;
    background-size: cover;
    background-position: center;
}

.tituloSegundoPremio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #00BCD4; 
}

.textoPremioBelen{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}

.textoAnna{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.septimaSeccion{
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    border-top:#cdcccc dotted;
    padding-bottom: 6em;
}

.elMusical{
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.fotoMusical{
    background-image: url(musical.jpg);
    width: 700px;
    height: 500px;
    background-size: cover;
}

.descripcionMusical{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3em;
    gap: 2em;
}
.tituloMusical{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    width: 70%;
    
}

.textoMusical{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.textoAzul{
    color:#00BCD4;
}

.octavaSeccion{
   padding-bottom: 5em ;
}
.plataformaRegistro{
    display: flex;
    justify-content: space-between;
    background-color: #00BCD4;
    border-radius: 10px;
    
}

.informacionContacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4em;
    padding-bottom: 5em;
}

.titulodeRegistro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: rgb(24, 55, 106);
   
}
.informaciondeRegistro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 4em;
    border-radius: 50px;
    background-color:rgb(24, 55, 106);
    transform: translate(-250px, 50px);
    width: 25em;
}

input {
        height: 30px; 
        border-radius: 10px;
  }

::placeholder{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
color:rgb(24, 55, 106);
font-weight: lighter;
padding: 6px;
}

.circuloSeis{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-100px,50px);
    border: #ffffff solid 5px;
}

.navBottom{
    padding: 5em;
    display: flex;   
    justify-content: space-between;
}
.logosnav{
    display: flex;
    gap: 20px;
}

.textNav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    
}